/* =========================================================
   NG-ZORRO INPUTS
   ========================================================= */

[nz-input] {
  display: block;
  width: 100%;
  height: var(--app-input-height);

  padding: 12px 12px;

  background-color: var(--app-input-background);

  border: 1px solid var(--app-border);
  border-radius: var(--app-radius);

  font-size: var(--app-input-size);

  transition: all 0.2s ease-in-out;

  outline: none;
  box-sizing: border-box;
}


/* Focus */

[nz-input]:focus {
  background-color: var(--app-input-background-focus);

  border-color: var(--app-primary);

  box-shadow:
    0 0 0 4px var(--app-primary-soft);
}


/* Hover */

[nz-input]:hover:not(:focus) {
  border-color: var(--app-border-hover);
}