@import './theme-variables.css';

html,
body,
app-root {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--app-background);
  color: var(--app-text);

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

app-root {
  display: block;
}